body {
	font-family: Georgia, sans-serif;
	font-size: 20px;
	text-align: center;
}

input:invalid {
	border: 1px solid red;
}

input:valid {
	border: 1px solid green;
}

.fizz {
	color: green;
	font-weight: bold;
}

.buzz {
	color: orange;
	font-weight: bold;
}

.fizzBuzz {
	color: blue;
	font-weight: bold;
}
